language: node_js
node_js:
  - "5"
cache:
  directories:
  - node_modules
before_script:
  - npm prune
script:
  - npm install
  - PUBLIC_PATH=/legorange3.0 npm run build
#after_script:
  #- npm install -g codeclimate-test-reporter
  #- codeclimate-test-reporter < coverage/lcov.info
after_success:
  #- npm run semantic-release
  - bash ./deploy-gh-pages.sh
