@font-face {
    font-family: "HelvNeue75";
    src: url('../fonts/HelvNeue75_W1G.woff2') format('woff2'),
         url('../fonts/HelvNeue75_W1G.woff') format('woff'),
         url('../fonts/HelvNeue75_W1G.ttf') format('truetype');
}

html {
    position: relative;
    overflow: auto;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.ui-page-theme-a .ui-panel .ui-overlay-a .ui-panel-wrapper {
    text-shadow: 0 0 0 !important;
}

.ui-mobile .ui-page-active {
    overflow: visible;
}

.ui-panel {
    min-height: 0 !important;
}

.topbar {
    position: fixed;
    width:100vw;
    top:0;
    z-index:2;
    border-bottom: 0.5px solid;
}

.hideOverflow {
    overflow : hidden !important;
}

.showOverflow {
    overflow: auto !important;
}

.drawspace {
    top:0;
    position: relative;
    overflow: hidden;
    width:4980px;
    height:4980px;
    padding: 0;
    background: url('../images/bricks/orangeBrick.png') repeat;
    z-index: 0;
    transform-origin: 0 0 0; /* (0,0) is the start point to make transform */
}

.brick {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 2;
    background: url('../images/bricks/orangeBrick.png') no-repeat;
}

.zoomspace {
    position: fixed;
    bottom:0.5px;
    left:20px;
    width:56px;
    z-index: 2;
}

.dezoom {
    z-index: 3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 0 1rem 0;
    background: url('../images/icons/zoom_icon.png') no-repeat;
    background-size: 100% 100%;
}

.dezoom:hover {
    background-color: none !important;
}


.logo_webcom {
    width: 30px;
    height: 30px;
    background: url('../images/icons/logo_webcom.png') no-repeat;
    background-size: 100% 100%;
    display: inline-block;
}

.logo_txt { 
    font-family: HelvNeue75;
    color:white;
    font-size: 20px;
    margin-left: 3px;
    vertical-align: middle;
    display: inline-block!important;
}

hr{
    margin:0;
}
  
.baseplate {
	padding: 0;
    margin: 0;         
    cursor:pointer;
}

.brickMenu {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    background-size: 30px 30px;
}

.white {
	background: url('../images/bricks/whiteBrick.png');
    background-size: 30px 30px;
}

.blue {
    background: url('../images/bricks/blueBrick.png');
    background-size: 30px 30px;
}

.red {
    background: url('../images/bricks/redBrick.png');
    background-size: 30px 30px;
}

.yellow {
    background: url('../images/bricks/yellowBrick.png');
    background-size: 30px 30px;
}

.green {
    background: url('../images/bricks/greenBrick.png');
    background-size: 30px 30px;
}

.grey {
    background: url('../images/bricks/greyBrick.png');
    background-size: 30px 30px;
}

.colors {
    width: 100%;
    text-align: center;
    margin:auto;
}

.colors .brickMenu {
    cursor: pointer;
    position: inherit;
    display: inline-block;
    margin: 7px;
}

.colors .active {
    outline: 3px solid white;
}

.ul-drawTools {
    height:200px;
    margin-left: 0 !important;
    padding-top: 0 !important;
}

.container-titlebar {
    background-color: black;
    border-radius: 10px;
    width:auto;
    height:auto;
    padding: 14px;
    margin-left: 4px;
    margin-top: 4px;
    z-index: 5;
}

.container-titlebar-menu {
    background-color: black;
    border-radius: 10px;
    width:70px;
    height:60px;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center !important;
    z-index: 5;
}

.menu-icon {
    width:25px;
    float: right !important;
    position: fixed !important;
    z-index: 8;
    right: 15px;
}

.drawTools-buttons-container {
    background-color: black;
    height: 50%
}

.container-color {
    background-color: black;
    height: 50%;
    display: flex;
}

.container {
    padding-top: -10px;
    width: auto;
    height: 100%;
    display: block;
    overflow:hidden;
    position: relative;
}

.tools-button {
    margin-top: 18px !important;  
    margin-bottom: 18px !important; 
    margin-left: 28px !important;
    width: 4.2em;
    height: 4.2em;
    position: relative;
    background-color: transparent !important;
}

.tools-button:hover {
    background-color: transparent;
}

.tools-icons {
    font-size: 30px;
    color: black;
    position: absolute;
    margin-top: 8px;
}

.whiteSquare {
    top: 0;
    font-size: 4em;
    color: #ff7900;
}

.webcomLink {
    font-size: 16px; 
    text-align: 'center'; 
    text-decoration: underline;
    color: #FF4500 !important;
}

.qrcode canvas {
    margin-left: 41px;
    margin-top: 2rem;
    padding : 0.5rem;
    background-color: white;
}

.top-bar-title {
    display: flex;
    margin-left: 5px;
}

.menu-title {
    height: 77.778px;
    font-size: 28px;
    text-align: center;
    padding-top: 20px!important;
    outline: 0;
    font-family: HelvNeue75 !important; 
    color: #fff !important;
    letter-spacing: -.01em !important;
    border-bottom: 1px solid white;
}

.menu-submenu {
    height: 40px;
    padding-top: 10px;
    vertical-align: middle;
}

.submenu .title {
    font-size: 20px;
    color:gray;   
}

.is-accordion-submenu-parent > a::after {
    border-color: white transparent transparent !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}


.tablet .dezoom { /* Do not work ... */
    width: 140px;
    height: 140px;
}
.tablet .topbar {
  display: none;
}
.tablet .logo_txt {
  font-size: 28px;
}
.tablet .logo_webcom {
  height:40px;
  width:40px;
}
.tablet .menu-icon {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transforms: scale(1.5);
    margin-right: 13px;
}


@media screen and (min-device-width: 320px) and (max-device-width: 369px) {

    .logo_txt { font-size: 20px; }

    .topbar {
        height: 8vh;
        padding: 1.5vh;
    }
    .menu-icon {
        margin-right: 2px;
    }
    .dezoom {
        width: 80px !important;
        height: 80px !important;
    }
}

@media screen and (min-device-width: 370px ) and (max-device-width: 429px)  {
    .logo_txt { font-size: 22px; }

    .logo_webcom { width: 35px;
                   height: 35px;
    }
    .topbar {
        height: 8vh;
        padding: 2.5vh;
    }
    .menu-icon {
        -ms-transform: scale(1.25); /* IE 9 */
        -webkit-transform: scale(1.25); /* Chrome, Safari, Opera */
        transform: scale(1.25);
        margin-right: 8px;
    }
    .dezoom {
        width: 90px !important;
        height: 90px !important;
    }
}


@media screen and (min-device-width: 530px ) and (max-device-width: 600px)  {
    .logo_txt { font-size: 25px; }

    .logo_webcom {
        width: 45px;
        height: 45px;
    }

    .topbar {
        height: 13vh;
        padding: 2.5vh;
    }
    .menu-icon {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
        transform: scale(1.5);
        margin-right: 15px;
    }

    .dezoom {
        width: 125px !important;
        height: 125px !important;
    }
}
